@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Ditt konto innehåller personlig data som du har gett till oss. Denna sida tillåter dig att ladda ner eller radera denna data.</p>
        <p>
            <strong>Genom att radera denna data kommer ditt konto att tas bort permanent. Det går inte återställas!</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Ladda ner</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Radera</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}