@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Välkommen till Närvarosystemet Presence!</h3>

    <p>Läs mer <a href="https://docs.microsoft.com/aspnet/core"> webapplikationen byggd med ASP.NET Core</a>.</p>
</div>
