@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p>Lär mer <a href="https://docs.microsoft.com/aspnet/core"> webapplikationen byggd med ASP.NET Core</a>.</p>
</div>
