@{
    ViewData["Title"] = "Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Alla rättighter tillhör M. Bukowski / Lexicon University, Stockholm</p>
<copyright>© Copyright 2019, All rights reserved</br>    
 Webmaster: mike bukowski (Student at Lexicon University)</br> 
<a href="mailto:m.bukowski@lexicon.com"> Kontakta mig vid eventuella frågor: mike.bukowski@lexicon.com</a></copyright>


